/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-color: #f1ecea;
    color: white;
    text-align: justify;
    font-family: monospace;
}

/* Selecto de Clases */
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    color: white;
    text-indent: 1em;
}

.texto-seccion {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 5px 25px;
    color: white;
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 5px 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: #3a251c;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: #3a251c;
    color: white;
    margin: 1em 2em;
    margin-bottom: 0px;
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside {
    padding: 0.5px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: white;
}

/* Selector Id */
#contenedor {
    width: 900px;
    height: auto;
    background-color: #b58c7c;
    max-width: 0 auto;
    border-radius: 10px;
}

#encabezado {
    height: 15%;
    width: 30%;
    background-color: #3a251c;
    margin: 1em;
    border-radius: 5px;
    padding: 0 50px;
}

#menu {
    height: 5%;
    background-color: #b46424;
    margin: 1em;
    border-radius: 5px;
}

#menu ul {
    padding: 0;
}

#contenido {
    height: 80%;
    width: 58%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 10%;
    background-color: #3a251c;
    margin: 0.5em;
    text-align: center;
    padding: 5px;
    max-width: 0 auto;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de Etiqueta */

ul {
    text-align: center;
    padding-top: 15px;
}

li {
    display: inline;
    margin: 5px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .contenedor {
        display: flex;
        flex-direction: column;
    }

    #contenido,
    .encabezado-aside {
        width: auto;
    }

    #fueraSeccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
    }

    img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .lista-aside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 25px;
        font-weight: 600;
    }

    #pie{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}