/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-color: #e6edd9;
    color: white;
}

/* Selecto de Clases */
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: #000000;
}

.img {
    width: 300px;
    border-radius: 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside {
    padding: 0.5px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}

/* Selector Id */
#contenedor {
    width: 900px;
    height: auto;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado {
    width: 30%;
    background-color: #6c844e;
    margin: 1em;
    border-radius: 5px;
    padding: 0 50px;
}

#menu {
    height: 3%;
    background-color: #7e815b4b;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#contenido {
    height: 75%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #7e815b4b;
}

#pie {
    height: 5%;
    background-color: #b5bf9a;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de Etiqueta */

#ul {
    text-align: center;
    padding: 10px;
}

/* li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
} */

nav a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;

}



/* Index */
.titulo-Index {
    background-color: rgb(83, 152, 87);
    border-radius: 10px;
    height: 50px;
    width: 50%;
    padding-top: 15px;
}

.texto-index {
    color: black;
    font-family: monospace;
}

.lista-index:hover {
    color: crimson;
}

.lista-index a {
    text-decoration: none;
    font-family: monospace;
    font-size: 30px;
    color: black;
}

/* CSS nuevo */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {

    nav,
    .row {
        flex-direction: column;
    }

    body {
        background-color: black;
    }

    #menu {
        text-align: left;
    }

    #menu a:hover {
        background-color: #6c844e;
    }

    #contenido,
    #fueraSeccion {
        width: 97.5%;
    }

    #pie{
        width: 100%;
        margin-left: 150px;
    }

    #fueraSeccion nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .texto{
        font-size: 25px;
    }
}